.main-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #38E54D;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.menu-links {
    margin-top: 30px;
    width: 100%;
    text-align: center;

    
}

menu a {
    position: relative;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0px 10px;
    left: -33px;
    background-color: black;
    border-radius: 10px;
    color: #FF9551;
    font-size: 1.5rem;
}

menu a.active {
    color: #FBFFB1;
}

.menu-modal {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-start-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 150px;

    background-color: coral;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-start-btn button {
     padding: 10px 30px;
     border-radius: 10px;
     background-color: black;
     color:aquamarine;
     font-size: 1.5rem;
}

.menu-close-btn button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color:aquamarine;
    font-size: 1.5rem;
}